. cabec{
    position: absolute;
    width: 1440px;
    height: 181px;
    left: 0px;
    top: 15px;
    
    background: linear-gradient(180deg, #362E2E 0%, rgba(54, 46, 46, 0) 100%);   
    
    
    
    
}
.apre{
    position: absolute;
width: 253px;
height: 53px;
left: 730px;
top: 92px;

font-family: 'Italiana';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 59px;

color: #FFFFFF;
}
body{

    position: absolute;
width: 1170px;
height: 609px;
left: 127px;
top: 209px;

background: #362E2E;
}